autopep8
breathe
cython
fenics-dijitso
fenics-ffc
fenics-fiat
fenics-ufl
flake8
flufl.lock
jupyter
jupyter-contrib-nbextensions
matplotlib
meld
mpi4py
mshr
nose
pandas
petsc4py
pip-chill
pkgconfig
ply
progressbar2
pybind11
pycairo
pydocstyle
pydrive
pygobject
pytest
python-apt
rope
scipy
slepc4py
spyder
sympy
yapf